---
title: Home
layout: homepage
--- 
<div class="small-container">

<div class="thetitle1">
    
                <h4>I'm Joshua Woods, a developer based in the USA, I create small personal projects with Middleman/Erb/Ruby for static site Generation. Currently, I'm by work is based in the backend of development using Ruby language/Rails/Middleman. In my free time I study Dart/Flutter and other webb technoglies. My goal is to become a well rounded developer and to create both Linux based desktop applications and web/mobile apps that solve usefull purposes.</h4>
            
        </div></div>
        <br>
        <div class=" blockspace"></div>
        <br>
        <br>


        <div class=" blockspace"></div>
        <div class="container">


<div class="container">
    <div class="row">
        <div class="column xlarge-6 small-12">
            <br>
                <div class="card card-no-footer card-hover">
                    <div class="card-header">
                    CV
                    </div>
                    <div class="card-img">
                        <a href="https://github.com/JoshuaWoodsdev">
                            <img
                                src="/images/bert-sz-Zd6PL6PSW5E-unsplash.jpg"
                                alt="github"
                                id="norpic"></a>
                        </div>
                    </div>

                </div>
                <div class="column xlarge-6 small-12">
                    <br>
                        <div class="card card-no-footer card-hover">
                            <div class="card-header">
                                Github
                            </div>
                            <div class="card-img">
                                <a href="https://github.com/JoshuaWoodsdev">
                                    <img
                                        src="images/bruno-neurath-wilson-vJF0gwxNVHI-unsplash.jpg"
                                        alt="github"
                                        id="norpic"></a>
                                </div>
                            </div>
                        </div>


<div class="column xlarge-6 small-12">
    <br>
        <div class="card card-no-footer card-hover">
            <div class="card-header">
            Projects
            </div>
            <div class="card-img">

                <a href="ux.html">
                    <img
                        src="images/notebook-beside-the-iphone-on-table-196644.jpg"
                        alt="github"
                        id="norpic"></a>
                </div>
            </div>
        </div>
    </div>
<div class=" blockspace"></div>
      <div class="container" id="email">
  <h2>// nordev@protonmail.com</h2>
</div          