---
title: Home
layout: homepage
---
<div class="small-container">
<div class="thetitle1 _alignLeft">
              <p>I'm Joshua Woods, a developer based in the USA,
                I create projects using Flutter/Dart & Jam Stack.
                Each project that I create deals with an area of the human spirit and thought.
                <br>
              </p>
              <br>
              <br>
</div>
</div>
<br>
<div class="container ">
    <div class="row">
                <div class="column large-6 small-10">
                    <br>
                        <div class="card card-no-footer card-hover">
                            <div class="card-header">
                                Github
                            </div>
                            <div class="card-img">
                                <a href="https://github.com/JoshuaWoodsdev?tab=repositories">
                                    <img
                                        src="images/mef.png"
                                        alt="github"
                                        id="norpic"></a>
                                </div>
                            </div>
                        </div>

<div class="column xlarge-6 small-12">
    <br>
        <div class="card card-no-footer card-hover">
            <div class="card-header">
            Projects
            </div>
            <div class="card-img">

                <a href="projects.html">
                    <img
                        src="images/nor2.png"
                        alt="github"
                        id="norpic"></a>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<div class=" blockspace"></div>
      <div class="container" id="email">
  <h2>// nordev@protonmail.com</h2>
</div
