---
title:  Projects
layout: homepage
---
        </div>
        <br>
    <div class=" blockspace"></div>
 <div class="container">
        <h1>The Olfactive.vercel.app</h1>

      <p> The Olfactive is a visual conpect exsploring fragrance, skincare and beauty indrusty<br>
          this is displayed with interviews, video and collaborations. The site was built using Jamstack_Middleman + Vercel for hosting.</p>
           <br>
          <div class="container">
            <div class="responsive-image mbottom">
              <img src="/images/df.png" alt="" />
            </div>
            <br>
            <div class="container">
              <div class="responsive-image mbottom">
                <img src="/images/kk.png" alt="" />
              </div>

  </div></div></div>

  <br>
    <div class=" blockspace"></div>
 <div class="container">
        <h1>Aerotica.vercel.app</h1>

      <p>Aerotica, explores human nature at its raw core, the site focuses on the retail of high_end products.
         The project was created using BULMA_CSS and Vercel for serverless hosting.</p>
           <br>
          <div class="container">
            <div class="responsive-image mbottom">
              <img src="/images/d2.png" alt="" />
            </div>
            <br>

</div>
<div class=" blockspace"></div>
<div class=" blockspace"></div>
</div
  <div class=" blockspace"></div>
      <div class="container" id="email">
  <h2>// nordev@protonmail.com</h2>
</div
