---
title:  UX
layout: homepage
---
<div class="thetitle">
    <p> Projects <br>
            <br>
                Designs + Information is listed here it features a outline of each project and design files.
            </p>
        </div>
        <br>
    <div class=" blockspace"></div>
 <div class="container">
         <h1>The Olfactive</h1><br>
                                      <iframe
                                            style="border: 1px solid rgba(0, 0, 0, 0.1);"
                                            width="1000"
                                            height="600"
                                            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FgRJdJUGrqGdGAHKJa6O3oF%2FTheolfactive%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                                            allowfullscreen="allowfullscreen"></iframe>

                                        <br><br>
                                        The site explores the beauty and fragrance indrusty.
                                <div class=" blockspace"></div>
<div class=" blockspace"></div>
</div
  <div class=" blockspace"></div>
      <div class="container" id="email">
  <h2>// nordev@protonmail.com</h2>
</div
