---
title:  figma
layout: homepage
---
<div class="thetitle">
    <p> Projects <br>
            <br>
                Designs + Information on projects
            </p>
        </div>
        <br>
            <div class=" blockspace"></div>

<div class="container">
    <h1>JoshuaWoodsdev</h1>
    <br>
    <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1);"
        width="1000"
        height="600"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FLpT2DRVsuSjQIhiAbzdPLp%2Fnordevstudio%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
        allowfullscreen="allowfullscreen"></iframe>
    <br><br>
        This is a early version of the current website, I used this as a template to
        create this site. This project is a small one, using Middleman, Unnamed CSS and Ruby to create it. There some small changes from the UX/UI design that I chose to use instead.
    </div>
                 <div class=" blockspace"></div>

 <div class="container">
    <h1>Louisiana Farm 2 Table</h1><br>
                
<iframe
                                    style="border: 1px solid rgba(0, 0, 0, 0.1);"
                                    width="1000"
                                    height="600"
                                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fsh2uyABqrS11h9k2XAsVBh%2Flouisiana-farm-2-table%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                                    allowfullscreen="allowfullscreen"></iframe>
     <br><br>                           
     The project is planned as a Flutter app that allows residents of Louisiana to purchase directly from farmers.
    </div>
    <div class=" blockspace"></div>

 <div class="container">
         <h1>The Olfactive</h1><br>
                                        <iframe
                                            style="border: 1px solid rgba(0, 0, 0, 0.1);"
                                            width="1000"
                                            height="600"
                                            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FgRJdJUGrqGdGAHKJa6O3oF%2FTheolfactive%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                                            allowfullscreen="allowfullscreen"></iframe>
                                   
                                        <br><br>
                                        The site explores the beauty and fragrance indrusty.
                                <div class=" blockspace"></div> 
<div class=" blockspace"></div>
      <div class="container" id="email">
 
</div          
  <div class=" blockspace"></div>

 <div class="container">
         <h1>Shop Concept</h1><br>
                                        <iframe
                                            style="border: 1px solid rgba(0, 0, 0, 0.1);"
                                            width="1000"
                                            height="600"
                                            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F2rtsvPCtUI0ggpaDa6j9dY%2Fshopconcept%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                                            allowfullscreen="allowfullscreen"></iframe>
                                   
                                        <br><br>
                                        The goal of the project was to create a niche online retail shop for headphones and keyboards. The backend was made with RUBY_Middleman and Snipcart.
                                <div class=" blockspace"></div> 
<div class=" blockspace"></div>
      <div class="container" id="email">
  <h2>// nordev@protonmail.com</h2>
</div          