
#ok {
    font-size: 30vh;
}
#intro {
    background-color: blue;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
ul li a {
   display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #262626;
    text-transform: capitalize;
    text-decoration: none;

    transition: all 0.5s;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#thetitle {
    font-size: 10vh;
    background-color: blue;
    color: white;
}
#themiddle {
    background-color: white;
}

#footerbar1 {
    background-color: blue;
}

body {
     font-family: 'Open Sans', sans-serif;
     background-color: white;
     font-size: 18px;

}

p{
font-size: 18px;
}

.blockspace {
    height: 60px;
}
#titlename {
    font-size: 3vh;
}
#titlename1 {
    font-size: 4em;
    padding-left: 40px;
}

#containername {
    color: white;
    background-image: url("../images/disk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p {
    font-family: 'Roboto Mono';
}

#consolepic{
  height: 500px;
}

.thetitle {
    text-align: center;
}
.flex-container {
    height: 600px;

}

#email {
    padding-left: 2px;
    text-align: center;
    font-family: 'Roboto Mono';
}

#containernameart {
    color: black;
    background-image: url("../images/m.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    color: white;
}
